<h4>Character</h4>

<div asp-validation-summary="All"></div>

<label asp-for="IsActive">
    <input type="checkbox" asp-for="IsActive">
</label>

<label asp-for="Name">
    <input asp-for="Name">
</label>
